
.searchbar-container {
    width: 100%;
    position: relative;

    .searchbar {
        width: 100%;
        font-size: 22px;
        padding: 20px;
        outline: none;
        border-color: gray;
        border-style: solid;
        border-radius: 10px;

        &:focus {
            border-color: blue;

            + .result-items-container {
                display: block;
            }
        }
    }

    .result-items-container {
        margin-top: 5px;
        background: #e6e6e6;
        position: absolute;
        max-height: 200px;
        overflow-y: scroll;
        display: none;
        width: 100%;

        .item {
            padding: 5px;
        }
    }
}