
.searchbar {
    width: 100%;
    position: relative;

    .search-input {
        width: 100%;
        font-size: 22px;
        padding: 20px;
        outline: none;
        border-color: gray;
        border-style: solid;
        border-radius: 10px;

        &:focus {
            border-color: blue;

            // + .result-items-container {
            //     display: block;
            // }
        }
    }

    .result-items-container {
        margin-top: 5px;
        background: #fbfbfb;
        position: absolute;
        max-height: 200px;
        overflow-y: scroll;
        display: none;
        width: inherit;

        .item {
            padding: 5px;
            cursor: pointer;

            &:hover {
                background: #fff;
            }
        }
    }
}